.desktop {
  font-size: 16px;
  color: white;
  font-family: 'Lato-thin', sans-serif;
}

.aframe {
  max-width: 250px;
  width: auto;
  
}

.title{
  color: white;
  font-family: 'Lato-Light', sans-serif;
}




/* ------ MOBILE STYLING ---------- */


@media (max-width: 768px) {

  .logoContainerContent {
    height: 80vh;
    
  }

  .phone{
    padding-top: 40px;
  }

  .desktop {
    position: relative;
    bottom: 30px;
  }

  .aframeLogo {
    max-width: 180px;
    max-height: 260px;
  }

  .inProgress {
    bottom: 165px;
    font-size: 35px;
  }
}